div.content {
    display: none;
}

.row, li {
    margin-top: 1%;
}

.progress {
    background-color: white;
    margin: 25% 0 0 0;
}

.progress .indeterminate {
    background-color: #1f1f1f;
}

#name {
    font-size: 2.5rem;
    font-weight: bold;
}

.title {
    font-size: 1.5rem;
    /* color: #01a252; */
    color: rgb(19, 145, 145);
}

.position {
    text-align: right;
}
.project .col {
    padding: 0;
}

.project {
    padding-bottom: 3%;
}

.project.col {
    padding-bottom: 2%;
}

.project.row {
    padding-bottom: 5%;
}

.work .col {
    padding: 0;
}

.education .col {
    padding: 0;
}

#name sub {
    font-size: 50%;
    text-transform: lowercase;
}

.content-text {
    text-align: justify;
}

#content {
    position: absolute;
    top: 5%;
    width: 80%;
}

@media screen and (min-width: 1080px) {
    #content {
        top: 10%;
    }

    .image .profile-image {
        float: left; 
        width: 70%;
        margin: 0 2% 0 2%;
    }
}

@media screen and (max-width: 1080px) {
    #content {
        top: 10%;
    }

    .image .profile-image {
        float: left; 
        width: 70%;
        margin: 0 2% 0 2%;
    }
}

@media screen and (max-width: 1024px) {
    #content {
        top: 5%;
    }

    .image .profile-image {
        float: left; 
        width: 70%;
        margin: 0 2% 0 2%;
    }
}

@media screen and (max-width: 800px) {
    #content {
        top: 5%;
    }

    .image .profile-image {
        float: left; 
        width: 120%;
        margin: 0 2% 0 2%;
    }
}

@media screen and (max-width: 480px) {
    #content {
        top: 10%;
    }

    .image .profile-image {
        float: left; 
        width: 120%;
        margin: 0 2% 0 2%;
    }
}

#content .row {
    margin-bottom: 0px;
}


/* .page {
    max-width: 60%;
    margin-left: 20%;
    margin-right: 20%;
} */


/* hr {
    max-width: 60%;
    margin-left: 20%;
    margin-right: 20%;
} */

.details {
    margin-top: 2%;
}

.details span {
    text-align: justify;
    display: block;
}

.teamName {
    color: #663399;
}

.row.team {
    margin-top: 5%;
}

.row.education,
.row.certificate,
.row.work {
    padding: 1%;
}

#links .col.s2 {
    padding: 0;
}

.tag {
    font-style: italic;
}

#tabs {
    position: fixed;
    width: 100%;
    background-color: #1f1f1d;
    z-index: 9999;
}

#tabs span {
    float: left;
    padding-left: 1%;
    text-align: center;
}

#content {}

#skills .row {
    padding-top: 1%;
    padding-bottom: 1%;
}

.gratitudes a {
    float: left;
    padding: 1%;
}

.skill {
    text-align: center;
    margin-right: 5%;
}

.skill .icon {
    font-size: 3em;
}

.skill span {
    display: block;
    font-size: 1.15rem;
    text-align: center;
}

.tools {
    overflow: scroll;
}

#skills .m2 {
    width: 25%;
    margin: 1%;
    font-size: 1.4rem;
    text-align: center;
}

.education.col.s12,
.work.col.s12 {
    margin: 1%;
}

object {
    width: 16%;
    margin: 1%;
}

#mySays {
    font-size: 1.3rem;
}

.period {
    text-align: right;
}

.golden {
    color: #d3a04d;
    background-color: none;
}

.score {
    text-align: right;
}

a {
    color: rgb(31, 170, 31);
}

* {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    /* background-color: #646464; */
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 1.40rem;
    font-display: auto;
}

h6 {
    font-size: 1.40rem;
}

.swal-button {
    color: white;
    background-color: #1f1f1f;
    box-shadow: none !important;
    text-align: justify;
}

button:focus {
    color: white !important;
    background-color: #1f1f1f !important;
}

button:hover {
    color: white !important;
    background-color: #1f1f1f !important;
}

.swal-button-container {
    display: inline;
}

.name {
    /* float: right; */
    vertical-align: top;
    text-align: right;
}

.contact {
    float: right;
    text-align: right;
}

/* .image .profile-image {
    float: left; 
    width: 70%;
    margin: 0 2% 0 2%;
} */

.image {
    width: 100%;
    text-align: center;
}

.profile {
    width: 100%; 
    background-image: url(https://cdn.pixabay.com/photo/2017/10/10/21/46/laptop-2838918_960_720.jpg); 
    background-size: 130%; 
    opacity: 0.5;
}